<div class="container margin-center landing__container h-centered v-centered">
  <div class="container u-center-text">
    <p>
    <span id="banner-typed-text" class="heading"></span>
    </p>
  </div>
</div>


<%# Presentation section %>
<div class="container margin-center presentation__container h-centered v-centered mg-btm-hg" id="presentation">
  <div class="presentation__grid">
    <div class="presentation__grid--left" data-aos="fade-right">
    <%= image_tag "Profile.jpg", class:"profile-picture"%>
    </div>
    <div class="presentation__grid--right" data-aos="fade-left">
      <div class="presentation__text">
        <p class="presentation__text--paragraph">
          I am a driven, open-minded and flexible person raised in Belgium. My previous work experiences took me <%= link_to 'around the world', travels_path, class:"world_travel"%>, which forged my character, made me more focused and remote-friendly.
          <br><br>
          Passionate about web development, eager to learn new skills, I completed <span>Le Wagon</span> Lausanne, where I learned all the tools to be a <span>Fullstack Web Developper</span>.
          <br><br>
          As half the bootcamp was on remote, I learned to work and succesfully build projects with a team physically and <span>remotely</span> as well.
          <br><br>
          Feel free to check my portfolio or contact me for job inquiries.
          <br><br>
          <strong><span>Languages</span> </strong>
          <br><br>
          HTML | CSS | SCSS | Javascript | Ruby On Rails | SQL
          <br><br>
          <strong><span>Tools</span></strong>
          <br><br>
          Git | Github | Heroku  | Figma | Bootstrap | PostgreSQL | Sqlite3
        </p>
      </div>
    </div>
  </div>
</div>




<%# Portfolio section %>

<div class="container mg-top-hg" id="portfolio">
  <h2 class="u-center-text  heading_portfolio mg-btm-sm">Portfolio</h2>

  <div class="container margin-center portfolio__container h-centered v-centered">
    <div class="container">

      <div class="row mg-btm-md" data-aos="fade-up-left">
        <div class="card-product">
          <%= image_tag 'website--iungo.png' %>
          <div class="card-product-infos">
            <h2><a href="https://www.iungo.dev" target="_blank">iunGo</a></h2>
            <p>Find an activty close to you and meet new peoples</p>
            <div class="techno">
              <ul>
                <li>Ruby on rails</li>
                <li>HTML</li>
                <li>SCSS</li>
                <li>Javascript</li>
                <li>PostgreSQL</li>
                <li>Heroku</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="row mg-btm-md" data-aos="fade-up-right">
        <div class="card-product">
          <%= image_tag 'website--cowonthego.png'%>
          <div class="card-product-infos">
            <h2><a href="https://cowonthego.herokuapp.com/" target="_blank">CowontheGo</a></h2>
            <p>A platform to find your coworking space</p>
            <div class="techno">
              <ul>
                <li>Ruby on rails</li>
                <li>HTML</li>
                <li>SCSS</li>
                <li>Javascript</li>
                <li>PostgreSQL</li>
                <li>Heroku</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="row mg-btm-md" data-aos="fade-up-left">
        <div class="card-product">
          <%= image_tag 'website--boozmania.png' %>
          <div class="card-product-infos">
            <h2><a href="https://boozmania.herokuapp.com/" target="_blank">Boozmania</a></h2>
            <p>Build your cocktail</p>
            <div class="techno">
              <ul>
                <li>Ruby on rails</li>
                <li>HTML</li>
                <li>SCSS</li>
                <li>Javascript</li>
                <li>PostgreSQL</li>
                <li>Heroku</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="row mg-btm-md" data-aos="fade-up-right">
        <div class="card-product">
          <%= image_tag 'website--tattoodio.png' %>
          <div class="card-product-infos">
            <h2><a href="https://simon-busch.github.io/Tattoodio/" target="_blank">Tattoodio</a></h2>
            <p>Find and book your next tattoo artist</p>
            <div class="techno">
              <ul>
                <li>HTML</li>
                <li>SCSS</li>
                <li>Javascript</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<%# Contact section %>
<div class="container margin-center contact__container h-centered v-centered mg-top-sm mg-btm-sm" id="contact">
  <div class="container u-center-text">
    <h2 class="heading_contact">Get in touch</h2>
    <div class="details">
      <ul>
      <li><i class="fas fa-map-pin icon"></i>Lausanne, Switzerland</li>
      <li><i class="far fa-envelope icon"></i> <a href="mailto: simon.busch@live.fr" class="email">simon.busch@live.fr</a></li>
      <li><i class="fab fa-whatsapp icon"></i>+41 76 217 79 15</li>
      </ul>
     
    </div>

    <div class="social">
      <h3 class="mg-top-md">Find me on</h3>
      <ul>
        <li class="social__icon"><a href="https://www.facebook.com/simon.busch1" target="_blank" class="social__link"><i class="fab fa-facebook"></i></a></li>
        <li class="social__icon"><a href="https://www.linkedin.com/in/simon-busch-6552a952/"target="_blank" class="social__link"><i class="fab fa-linkedin"></i></a></li>
        <li class="social__icon"><a href="https://www.facebook.com/simon.busch1" target="_blank" class="social__link"><i class="fab fa-instagram"></i></a></li>
        <li class="social__icon"><a href="https://github.com/Simon-Busch" target="_blank" class="social__link"><i class="fab fa-github"></i></a></li>
      </ul>
    </div>
  </div>
</div>
